.blog-showcase-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

@media (max-width:600px) {
    .blog-showcase-container {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }
}