.menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: hsl(var(--veryDarkBlueCode), 0.6);
    z-index: 1;

}
.menu-content-container {
    margin-left: auto;
    width: 70%;
    background-color: white;
    padding: 1.5rem;
    height: 100vh;
    height: 100dvh;
    animation: slideIn 0.4s ease-in;
}
.menu-content-container img {
    display: block;
    margin-left: auto;
    cursor: pointer;
    margin-bottom: 8rem;
}

@keyframes slideIn {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0);}
}